<li>
  <%= radio_button :breast_feed_log_entry, :breast, "Left", :title => "Left" %>
</li>
<li>
  <%= radio_button :breast_feed_log_entry, :breast, "Right", :title => "Right" %>
</li>
<li>
  Duration
  <%= text_field :breast_feed_log_entry, :duration, :class => "number"%>
</li>