<tr>
  <th>Type</th>
  <td>
    <%= radio_button :diaper_log_entry, :kind, "Pee" %> Pee <br/>
    <%= radio_button :diaper_log_entry, :kind, "Poop" %> Poop <br/>
    <%= radio_button :diaper_log_entry, :kind, "Both" %> Both <br/>
  </td>
</tr>
