<tr>
  <th>Kind</th>
  <td>
    <%= text_field :medicine_log_entry, :kind %> 
  </td>
</tr>
<tr>
  <th>Amount</th>
  <td>
    <%= text_field :medicine_log_entry, :amount %> 
  </td>
</tr>
  
<tr>
  <th>Unit of Measure</th>
  <td>
    <%= radio_button :medicine_log_entry, :uom, "ML" %> ML 
  </td>
</tr>
