<% title "New Log Entry"%>
<div class="scroll">
<ul class="rounded">
    <% @types.each do |t| %>
    <li class="arrow"><%= link_to( image_tag("/entry_icons/menu_#{t}.png", :size => "75x75") + t.capitalize, {:action => :new, :log_id => @log.id, :type => t}, :class => "menu-new-entry") %></li>
    <% end %>
</ul>
</div>