/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= #require_tree .
 */
$green: #99CC99;

body {
  font: {
    family: helvetica;
    size: 10pt;
  }
}

.footer {
  background-color: $green;
  border-width: 1px;
  border-color: darken($green, 70%);
  font: {
    family: sans-serif;
    size: 0.8em;
  }
}