<div data-role="header">
  <%= link_to 'Add', {:controller => :log_entries, :action => :new_menu, :log_id => @log.id}, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <h1>Log</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @log.log_entries.order("log_entries.when DESC").each do |le| %>
    <li>
      <div class="entry-icon"><%= entry_icon(le.type) %></div>
      <div class="entry-recorded-date"><%= entry_recorded_date(le.when) %></div>
      <div class="entry-details"><%= entry_details(le) %></div>
<!-- #link_to 'edit post', edit_post_path(post), "data-icon" => "gear"  -->
    </li>
    <% end %>
  </ul>
</div>

  
  