<div data-role="page" class="dialog-actionsheet" >
  <div data-role="content" data-theme="<%= @dialog_data_theme || "a" %>">
    <h2><%= @dialog_header %></h2>
  <% if @dialog_details %>
    <p><%= @dialog_details %></p>    
  <% end %>

  <%= yield %>
  
  </div>
</div>